.body {
    margin: 0;
    padding: 0;
}

h1{text-align: center;
}

.gradient{
    background-color: white;
    
}

.btn {
    padding: 20px 10 px;

}

.fristbutton1 {border: 6px outset #800080;
    background-color:white;
    border-radius: 10px;
    text-decoration:none;
    
}

.contanier {
    
    width: 1000px;
    /* margin-left:auto;
    margin-right: auto; */
    margin: 50px auto 0 ;
    border-radius: 10px; 
    padding: 15px;
    -webkit-box-shadow: 5px 20px 23px -21px rgba(213, 126, 222, 1);
-moz-box-shadow: 5px 20px 23px -21px rgba(213, 126, 222, 1);
box-shadow: 5px 20px 23px -21px rgba(213, 126, 222, 1);
}
    


.left-bar {

    width: 200px;
    height: 790px;
    float: left;
    margin: 80px 50px 0 0;
    border-radius: 15px;
    padding: 15px;
    -webkit-box-shadow: 5px 3px 24px -5px rgba(213, 126, 222, 1);
-moz-box-shadow: 5px 3px 24px -5px rgba(213, 126, 222, 1);
box-shadow: 5px 3px 24px -5px rgba(213, 126, 222, 1);

}
.content { 
    width: 700px;
    float: left;
    height: auto;   
    
 }   

.card{
    width: 38%;
    float: left;
    margin:50px 30px 0 20px;
    padding: 2%;
    border-radius: 15px;
    -webkit-box-shadow: 5px 3px 24px -5px rgba(213, 126, 222, 1);
-moz-box-shadow: 5px 3px 24px -5px rgba(213, 126, 222, 1);
box-shadow: 5px 3px 24px -5px rgba(213, 126, 222, 1);
}


.clear{
    clear: both;
}
.box{
    width: 300px;
    height: 300px;
    padding: 10px;
}
.bg-red{
    background-color:red
}

.bg-green{
    background-color: green;
}

.bg-purple{
    background-color: #DA70D6;
}

.bg-cream{
    background-color:#E6E6FA;
}