/****************************** LAYOUT *************************/

.text-red{
    color: red;
}
.fs-small {
    font-size: 20px;
}
.fs-medium {
    font-size: 25px;
}

.fs-large {
    font-size: 30px;
}

.first-article {
    font-size: 40px;
}

/******************************** HEADER *************************************/

.fristbutton {border: 6px outset gold;
    background-color:white;
    text-align: left;
}



/************************* BODY ************************************/
body{
    background-color:white;
    
}

.aboutus-body {
    text-align: center;
}

h1 {color:chocolate; 
    font-style: italic; 
    font-size: 28px;
    
}

/*********************************** MAIN *********************/
h3 {color: chocolate;
    font-family: Cursive;
}
p {
    color: black;
  /* font-size: 20px; */
  /* font-size: 0.875em; */
}
/***********************FOOTER************************/
.box{
    
    width: 800px;
    height: 200px;
    background-color: antiquewhite;
    border: 3px outset gray;
}
footer {
    text-align: center;
}
a.test:hover {
     color: red; 
}

a:active {
     position: relative; top: 5px; 
    }
    
/* ul > li:first-child {
         color: orange; 
        } */
